* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
ul{
    list-style:none;
    }
img {
    display: block;
}

p {
    width: 90vw;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
}

p > a {
    text-decoration: none;
    color: black;
    font-size: large;
}

a {
    text-decoration: none;
}

hr {
    width: 50%;
    height: 2px;
    border: none;
    background-color: lightgrey;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

h3 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.main-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadein 1s;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: 3rem;
    background: black;
    /* background: rgb(1, 50, 67); */
    color: white;
}

.nav-title {
    padding-left: 0.8rem;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding-left: 1rem;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
}

.sp-korea-logo-img {
    display: flex;
    max-width: 2rem;
    margin: 0;
    padding: 0;

}

div > a {
    text-decoration: none;
    color: white;
}

.menu-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.menu {
    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    font-family: 'Noto Sans KR', sans-serif;
}

.contribute {
    border: solid 1px white;
    border-radius: 5px;
}

.nav-toggle {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: white;
}

.page-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-title {
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Lato', sans-serif;
    font-size:2.5rem;
    color:rgb(1, 50, 67);
}

.sponsor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sponsor-logo {
    max-width: 90vw;
    max-height: 15rem;
}

.sponsor-name {
    font-family: 'Lato', sans-serif;
}

#map {
    padding-bottom:1rem;
}



.section-title {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    color:rgb(1, 50, 67);
    font-family: 'Noto Sans KR', sans-serif;
}

.section-img {
    width: 45vw;
    background: none;
    background: transparent;
}

.swirl {
    animation: spin 500s linear infinite;
}

.paragraph-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.timetable-wrapper {
    width: 90%;
}

.time-slot {
    padding-top: 0.7rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.session {
    padding-bottom: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
}

.session-presenter {
    margin-top: 1.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: large;
    font-family: 'Noto Sans KR', sans-serif;
}

.time-slot-hr {
    width: 100%;
    margin-top: 1rem;
}

.presenter-card {
    width: 90%;
    display: flex;
    justify-content: left;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.presenter-photo {
    align-self: center;
    justify-content: center;
}

.presenter-img {
    min-width:7rem;
    max-width:7rem;
    min-height: 9rem;
    border-radius: 90px;
    object-fit: cover;
}

.presenter-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 2rem;
}

.presenter-name {
    font-size: larger;
    font-weight: bold;
}

.presenter-position {
    padding-top: 0.5rem;
    font-weight: bold;
    font-size: medium;
}

.presenter-intro {
    margin-top: 1rem;
    width: 100%;
}

.staffs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}

.staff {
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.staff-head {
    display: flex;
    

}

.staff-img {
    border-radius:70%;
    overflow:hidden;
}

.staff-img-src {
    min-width: 7rem;
    max-width: 7rem;
    height: 7rem;
    object-fit: cover;
}

.staff-body {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.staff-name {
    font-size: large;
    font-weight:bolder;
}

.staff-bio {
    color: black;
}

.staff-bio-p {
    text-align: left;
    width:fit-content ;
}

.contact-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3rem;
    background: black;
    /* background: rgb(1, 50, 67); */
    color: white;
    font-family: 'Lato', sans-serif;

}

.top-btn {
    position: fixed;
    bottom: 5px;
    right: 5px;
    background: white;
    font-size: x-large;
    border-radius: 75px;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    text-decoration: none;
    opacity: 50%;

}

.top-btn > a {
    color: black;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    100%{
        transform: rotate(-360deg);         
    }
}


.mobile-menu-wrapper{
    display: none;
    flex-direction: column;
    justify-content: center;
    background: black;
    /* background: rgb(1, 50, 67); */
    width: 100%;
    z-index: 999;
    color: white;
    text-align: center;
}

.mobile-menu {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .nav-toggle {
        display: flex;
    }

    .menu {
        display:none;
    }
    


}

